@{
    ViewData["Title"] = "Database Editor";
}

@Html.AntiForgeryToken()

<h1 class="text-center text-custom-main" style="padding-top:50px">Entries</h1>

<div>
    <table class="custom-main">
        <thead class="custom-main">
            <tr>
                <th>Test - Placeholder</th>
                <th>Test - Placeholder</th>
                <th>Test - Placeholder</th>
                <th>Test - Placeholder</th>
                <th>Test - Placeholder</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Test - Placeholder</td>
                <td>Test - Placeholder</td>
                <td>Test - Placeholder</td>
                <td>Test - Placeholder</td>
                <td>Test - Placeholder</td>
            </tr>
            <tr>
                <td>Test - Placeholder</td>
                <td>Test - Placeholder</td>
                <td>Test - Placeholder</td>
                <td>Test - Placeholder</td>
                <td>Test - Placeholder</td>
            </tr>
        </tbody>
    </table>
</div>

