@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="padding-top:50px">
    <h1 class="custom-title text-custom-main">Genshin Farming Companion</h1>
    <p class="text-custom-main">
    A simple Genshin Impact farming list generator.
    </p>
</div>
